@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
body {	
    font-family: 'Nunito', sans-serif;
}
.container {
	width: 1000px;
}
/*.hideme {
	opacity: 0;
}*/
/* Navigation */
.main-nav {
	position: fixed;
	top: 25px;
	left: 25px;
	bottom: 25px;
	width: 270px;
	z-index: 888;
	-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
	background-color: #FFFFFF;
}
.myPhoto {
	max-width: 100%;
	height: auto;
}
.nav {
	text-align: right;
	font-weight: 400;
}
.nav > li {
	position: relative;
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.1);
	
}
.nav >li > a {
	color: black;
}
.nav > li > a:focus {
	background-color: #D86A39;
	color: white;
	border-radius: 30px;
}

.social-media {
	font-size: 25px;
	line-height: 25px;
	color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
}
.social-media_list {
	list-style-type: none;
}
.social-media_list > li {
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}
.social-media_list > li > a {
	color: #B7B7B7;
}
.social-media_list > li > a:hover {
	color: #D86A39;
}

/*Jumbotron*/
.jumbotron {
	height: 100vh;
	background: url("../images/woman-typing-blue.jpg") 0/cover no-repeat;
	color: white;
	display: flex;
  	align-items: center;
  	justify-content: center;	
}
.email a {
	color: #5FA648 !important;
}
.profession {
	color: #5FA648;
	font-weight: 500 !important;
}
.button-resume {
	background-color: #D86A39;
	border: none;
	border-radius: 40px;
	color: white;
	text-align: center;
	width: 180px;
	transition: width visibility 2s;
}
.button-resume > i.fa {
	visibility: hidden;
}
.button-resume:hover > i.fa {
	visibility: visible;
	color: #D86A39;
}
.button-resume:hover {
	width: 200px;
	color: #D86A39;
	background-color: white;
}
.button-cv {
	color: white;
	background-color: transparent;
	border: none;
	width: 100px;
	transition: width visibility 2s;
	padding-right: 20px;
}
.button-cv:hover {
	width: 120px;
	background-color: transparent;
	color: white; 
}
.button-cv i.fa {
	visibility: hidden;
}
.button-cv:hover i.fa {
	visibility: visible;
}
/* Resume */
.resume {
	margin-bottom: 50px;
}
.resume .row {
	margin-top: 80px;
	border-bottom: 2px dashed #D86A39;
}
.resume-title {
	color: #B2B2B2;
}
.resume i.fa {
	color: #D86A39;
	font-weight: 400;
	font-size: 60px;
	line-height: 60px;
}
.resume_info-title {
	margin: 0 auto;
}
.resume_info-about p {
	margin-top: 100px;
	font-size: 15px;
	color: #4B5864;
	line-height: 21px;
	padding-bottom: 50px;
}
/* Resume - hobbies */

.hobbies li {
	list-style-type: none;
	display: inline-block;
	padding-right: 15px;
	font-size: 20px;
	text-align: center;
}
.hobbies i.fa {
	font-size: 30px;
	background-color: #85B448;
	border-radius: 50%;
	color: white;
	height: 75px;
	width: 75px;
	text-align: center;
	line-height: 75px;
}
.hobby-title {
	padding-bottom: 50px;
}
/* Resume -skills */
.skills-list {
	padding-bottom: 50px;
}
.skills-group i.fa {
	font-size: 80px;
	line-height: 100px;
	padding: 15px;
	color: #85b448;
	margin-bottom: 15px;
	transition: color font-size 5s;
	transition-timing-function: ease-in;
}
/* Skills icons hover effect */
.skills-group i:hover.fa {
	font-size: 90px;
}
.skills-list > .skills-group i:hover.html5 {
	color: #E54D26;
}
.skills-list > .skills-group i:hover.css3 {
	color: #3D8FC6;
}
.skills-list > .skills-group i:hover.js {
	color: #F0DB4F;
}
.skills-list > .skills-group i:hover.bootstrap {
	color: #59407F;
}
.skills-list > .skills-group i:hover.sass {
	color: #CC6699;
}
.skills-list > .skills-group i:hover.jquery {
	color: #0769AD;
}
.skills-list > .skills-group i:hover.git {
	color: #F34F29;
}
.skills-list > .skills-group i:hover.grunt {
	color: #FCAA1A;
}

/*-------------------------*/
.skills-group p {
	padding-top: 10px;
	color: #85b448;
	font-size: 20px;
}
.skills-group p::before {
  content: "• ";
  color: #85b448;
}
.resume .no-border {
	border: none;
}
/*Portfolio*/
.portfolio {
	background-color: #F8F8F8;
}
.img-div {
	margin-top: 100px;
}
.marginbottom {
	margin-bottom: 100px;
}
/* Portfolio image effect */
figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	height: 350px;
	text-align: center;
	cursor: pointer;
}
figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}
figure figcaption,
figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-sarah {
	background: #D86A39;
}
figure.effect-sarah img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-sarah:hover img {
	
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 2em 0;
	visibility: hidden;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);

}
figure.effect-sarah:hover h2 {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	visibility: visible;
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	visibility: hidden;
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	visibility: visible;
}
/* Contact */
.contact {
	background: white;
	height: 50vh; 
	background: url("../images/contact.jpeg") 0/cover no-repeat;
	text-align: center;
	margin: 0 auto;
}
.contact-info {
	background-color: #85B448; 
	float: right;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
	height: 30vh;
	opacity: 0.7;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.contact i.fa {
	font-size: 30px;
	line-height: 30px;
}
.contact_email i.fa {
	margin-top: 30px;
}
.contact p {
	margin-top: 10px;
}
.contact a {
	color: inherit;

}
/* ==============
      Footer 
================ */
footer {
	background-color: #394657;
	color: white;
	min-height: 30px;
}

footer p {
	margin-top: 5px;
}
footer i.fa {
	padding-left: 30px;
	font-size: 18px;
	line-height: 18px;
	transition-timing-function: ease-in-out;
	transition-duration: .5s;
	transition-property: color font-size;
	position: absolute;
	bottom: 10px;
	right: 42%;
}
footer i:hover.fa {
	color: #4A4C4F;
	font-size: 20px;
}
footer a {
	color: inherit;
/* ===================== 
        Media queries 
========================= */

@media (max-width: 1329px) {

/* Navigation */
	.main-nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 88px;
		width: 100vw;
		z-index: 222;
		box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
		display: flex;
	}
	.myPhoto {
		height: 100%;
		display: inline-block;
		line-height: 1;
	}
	.nav {
	text-align: center;
	padding-left: 0;
	}
	.nav > li {
		margin-top: 0;
		display: inline-block;
		border-bottom: none;
	}
	.nav > li > a {
		margin-top: 25px;
	}
}

@media only screen and (max-width: 1480px) and (min-width: 1330px) {
	.main-nav {
		width: 180px;
	}
	ul.social-media_list {
		padding-left: 0;
	}
	.container {
		width: 900px;
	}
	.social-media {
	font-size: 20px;
	line-height: 20px;
	}
}
@media (max-width: 1580px) and (min-width: 1479px) {
	.main-nav {
		width: 220px;
	}
	.social-media {
	font-size: 18px;
	line-height: 18px;
	}
}